# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*
将删除 atinbo-core/src/test/
将删除 atinbo-dal/atinbo-dal-mongo/src/main/resources/
将删除 atinbo-dal/atinbo-dal-mongo/src/test/
将删除 atinbo-redis/src/main/resources/
将删除 atinbo-redis/src/test/
将删除 atinbo-support/src/main/java/com/atinbo/support/starter/interceptor/
将删除 atinbo-support/src/main/resources/
将删除 atinbo-support/src/test/
将删除 atinbo-boot/src/main/resources/
将删除 atinbo-boot/src/test/
将删除 atinbo-dal/atinbo-dal-redis/src/main/resources/
将删除 atinbo-dal/atinbo-dal-redis/src/test/
将删除 atinbo-mq/atinbo-mq-kafka/src/
将删除 atinbo-mq/atinbo-mq-rocketmq/src/
